/* Step1.css */
.name-contact-container{
  display: flex;width: Hug (964px)px;
  height: Hug (111px)px;
  gap: 60px;
  opacity: 0px;
  

}
.name-contact-gender{
  display: flex;
  width: Fixed (964px)px;
height: Hug (113px)px;
gap: 60px;
margin-top: 30px;
margin-bottom: 30px;
opacity: 0px;

}


.step1-container {
  width: 1,320px;
  height: 1,035px;
  padding: 40px 20px 40px 20px;
  gap: 40px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
  
  }

.step1-label{
  width: 452px;
height: 24px;
gap: 0px;
opacity: 0px;
  font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: left;
color: rgba(66, 66, 66, 1);
}
  
  .step1-input {
    width: 452px;
height: Hug (48px)px;
padding: 12px 16px 12px 16px;
gap: 0px;
border-radius: 4px;
border: 1px;
justify: space-between;
opacity: 0px;
border: 1px solid rgba(205, 210, 215, 1)

  }
  
  .step1-label {
    display: block;
    margin-bottom: 5px;
  }

  .span-name{
    width: 213px;
height: 18px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: left;
color: rgba(125, 125, 125, 1);
  }

  .span-name-div{
    display: flex;
    width: Hug (233px)px;
height: Hug (18px)px;
gap: 4px;
margin-top: 8px;
opacity: 0px;

  }

  .span-two{
    width: 452px;
height: 21px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: rgba(66, 66, 66, 1);
  }
  
  .gender-buttns{
    width: Fill (452px)px;
height: Fixed (48px)px;
gap: 8px;
opacity: 0px;

  }
  .step1-radio-label {
    width: Fill (145.33px)px;
height: Hug (24px)px;
margin-right: 8px;
opacity: 0px;

  }
  
  .step1-radio-input {
    width: 35px;
height: 21px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
text-align: left;
color: rgba(35, 35, 35, 1);
  }

  .buttons{
    display: flex;
    justify-content: flex-end;
    width: Fill (1,280px)px;
height: Hug (48px)px;
gap: 40px;
opacity: 0px;
align-items: flex-end;
  }

  .cancel-button{
    width: Hug (106px)px;
height: Hug (48px)px;
margin-right: 10px;
padding: 12px 24px 12px 24px;
gap: 10px;
border-radius: 8px 8px 8px 8px;
border: 1px 0px 0px 0px;
opacity: 0px;
background: rgba(255, 255, 255, 1);
border: 1px solid rgba(34, 167, 133, 1)
  }

  .next-button{
    width: Hug (124px)px;
height: Hug (48px)px;
padding: 12px 24px 12px 24px;
gap: 10px;
border-radius: 8px 8px 8px 8px;
opacity: 0px;
background: rgba(34, 167, 133, 1);
color: white;
  }
  /* .business-activity{
    width: Hug (804px)px;
  height: Hug (111px)px;
  gap: 30px;
  opacity: 0px;
  } */

  .business-activity{
    width: Fixed (730px)px;
height: Hug (111px)px;
gap: 12px;
opacity: 0px;
  }

  .business-main{
    display: flex;
    width: 804px;
height: 111px;
gap: 30px;
opacity: 0px;

  }

  .business-input{
    width: 730px;
height: 20px;
padding: 12px 16px 12px 16px;
margin-bottom: 8px;
gap: 0px;
border-radius: 4px;
border: 1px;
justify: space-between;
opacity: 0px;
background: rgba(255, 255, 255, 1);
border: 1px solid rgba(205, 210, 215, 1);

  }

  .plus-svg{
    width: Hug (44px)px;
height: Hug (44px)px;
padding: 36px 0px 0px 0px;
gap: 10px;
border-radius: 2px 0px 0px 0px;
opacity: 0px;

  }

  .select{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  }

  .sub-select-anything-container{
    display: flex;
  justify-content: space-between; /* Align items to the ends */
  align-items: center;
  width: Hug (386px)px;
height: Hug (48px)px;
padding: 12px 16px 12px 16px;
gap: 8px;
border-radius: 4px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid rgba(158, 158, 158, 1)
/* border: 1px solid rgba(34, 167, 133, 1); */
  }

  .select-anything-container {
    width: 1280px;
  height: 177px;
  gap: 16px;
  opacity: 0px;
  
  
  }
  
  .sub-select-anything-container {
    display: flex;
    align-items: center;
  }

  .header{
    width: Fill (1,320px)px;
height: Hug (144px)px;
padding: 30px 40px 30px 40px;
gap: 12px;
border-radius: 40px 0px 0px 0px;
opacity: 0px;
background-color: rgba(236, 255, 250, 1);

  }

  .header-one{
    width: 508px;
height: 48px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 32px;
font-weight: 500;
line-height: 48px;
text-align: left;

  }

  .header-two{
    width: 1240px;
height: 24px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;

  }

  .consent{
    width: 1280px;
height: 84px;
gap: 12px;
margin-top: 30px;
margin-bottom: 10px;

  }

  .selected {
    background: rgba(236, 255, 250, 1);
    border: 1px solid rgba(34, 167, 133, 1);
  
  }

  .consent-text{
    display: flex;
    font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
text-align: left;
color: rgba(117, 117, 117, 1);

  }

  .consent-box{
    width: 19.07px;
height: 19.07px;
top: 1.47px;
left: 1.47px;
gap: 0px;
opacity: 0px;
background: rgba(158, 158, 158, 1);

  }