
.step1-container {
  width: 1,320px;
  height: 1,035px;
  padding: 40px 20px 40px 20px;
  gap: 40px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
  
  }

.header{
  width: Fill (1,320px)px;
height: Hug (144px)px;
padding: 30px 40px 30px 40px;
gap: 12px;
border-radius: 40px 40px 40px 40px;
opacity: 0px;
background-color: rgba(236, 255, 250, 1);

}

.header-one{
  width: 508px;
height: 48px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 32px;
font-weight: 500;
line-height: 48px;
text-align: left;

}

.header-two{
  width: 1240px;
height: 24px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;

}

.stepper{
  display: flex;
  justify-content: space-between; /* Aligns the stepper elements to the left, center, and right */
  padding: 20px;
  width: 1275.49px;
height: 71px;
gap: 40px;
opacity: 0px;

}

.stepper svg {
  cursor: pointer;
}

.stepper svg:not(:last-child) {
  margin-right: 50px;
}

.connector{
  flex: 1;
  height: 1px; /* Height of the line */
  background-color: black; /* Color of the line */
}